# Put your bot token here.
token: 'YOURTOKENHERE'

# Guild ID
guild_id: 561524772778742037

# A list of channel IDs you want whitelisted
chan_witelist:
  - 566675595382072065
  - 566675795062072265
  - 566635585087074065

# Group category ID. Group channels will be made here.
group_category: 566283735702421353

# Channel ID where session announcements are sent.
announce_chan: 566283715702421353

# A list of role IDs who can use the restricted commands.
role_whitelist:
  - "DM"

# PostgreSQL connection info here.
pg_connection:
  user: 'username'
  database: 'dbname'
  password: 'password'
  host: 'localhost'

# List of valid quest tiers.
quest_tiers:
  - "TIER-1"
  - "TIER-2"
  - "TIER-3"
  - "TIER-4"
